{% extends "base.html" %}

{% block title %}
    Delete Category
{% endblock %}

{% block content %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">
            Delete Category
        </h4>
    </div>

    <div class="card">

        <div class="card-body">

            <h4>Delete Category</h4>

            <p>
                Are you sure you want to delete
                <strong>{{ object.name }}</strong>?
            </p>

            <form method="post">

                {% csrf_token %}

                <button
                    type="submit"
                    class="btn btn-danger"
                >
                    Delete
                </button>

                <a
                    href="{% url 'category-list' %}"
                    class="btn btn-secondary"
                >
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}