{% extends "base.html" %}

{% block title %}
    {% if object %}
        Edit Task
    {% else %}
        Add Task
    {% endif %}
{% endblock %}

{% block content %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">
            {% if object %}
                Edit Task
            {% else %}
                Create New Task
            {% endif %}
        </h4>
    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="card">

                <div class="card-header">

                    <div class="card-title">

                        {% if object %}
                            Edit Task
                        {% else %}
                            Create New Task
                        {% endif %}

                    </div>

                    <div class="card-category">
                        Enter the task information below.
                    </div>

                </div>


                <div class="card-body">

                    <form method="post">

                        {% csrf_token %}


                        <!-- TASK TITLE -->

                        <div class="form-group">

                            <label for="{{ form.title.id_for_label }}">
                                Task Title
                            </label>

                            {{ form.title }}

                            {% if form.title.errors %}

                                <div class="text-danger">
                                    {{ form.title.errors }}
                                </div>

                            {% endif %}

                        </div>


                        <!-- DESCRIPTION -->

                        <div class="form-group">

                            <label for="{{ form.description.id_for_label }}">
                                Description
                            </label>

                            {{ form.description }}

                            {% if form.description.errors %}

                                <div class="text-danger">
                                    {{ form.description.errors }}
                                </div>

                            {% endif %}

                        </div>


                        <!-- DEADLINE -->

                        <div class="form-group">

                            <label>
                                Deadline
                            </label>


                            <div class="row">


                                <!-- DATE -->

                                <div class="col-md-6">

                                    <label for="deadline_date">
                                        Date
                                    </label>

                                    <input
                                        type="date"
                                        id="deadline_date"
                                        class="form-control"
                                        {% if form.instance.deadline %}
                                            value="{{ form.instance.deadline|date:'Y-m-d' }}"
                                        {% endif %}
                                    >

                                </div>


                                <!-- TIME -->

                                <div class="col-md-6">

                                    <label for="deadline_time">
                                        Time
                                    </label>

                                    <input
                                        type="time"
                                        id="deadline_time"
                                        class="form-control"
                                        {% if form.instance.deadline %}
                                            value="{{ form.instance.deadline|date:'H:i' }}"
                                        {% endif %}
                                    >

                                </div>


                            </div>


                            <small class="form-text text-muted">
                                Select the date and time for the task deadline.
                            </small>


                            <!--
                                Hidden Django deadline field.
                                The JavaScript below combines the selected
                                date and time into this field.
                            -->

                            {{ form.deadline.as_hidden }}


                            {% if form.deadline.errors %}

                                <div class="text-danger">

                                    {{ form.deadline.errors }}

                                </div>

                            {% endif %}

                        </div>


                        <!-- STATUS -->

                        <div class="form-group">

                            <label for="{{ form.status.id_for_label }}">
                                Status
                            </label>

                            {{ form.status }}

                            {% if form.status.errors %}

                                <div class="text-danger">
                                    {{ form.status.errors }}
                                </div>

                            {% endif %}

                        </div>


                        <!-- CATEGORY -->

                        <div class="form-group">

                            <label for="{{ form.category.id_for_label }}">
                                Category
                            </label>

                            {{ form.category }}

                            {% if form.category.errors %}

                                <div class="text-danger">
                                    {{ form.category.errors }}
                                </div>

                            {% endif %}

                        </div>


                        <!-- PRIORITY -->

                        <div class="form-group">

                            <label for="{{ form.priority.id_for_label }}">
                                Priority
                            </label>

                            {{ form.priority }}

                            {% if form.priority.errors %}

                                <div class="text-danger">
                                    {{ form.priority.errors }}
                                </div>

                            {% endif %}

                        </div>


                        <!-- BUTTONS -->

                        <div class="card-action">

                            <button
                                type="submit"
                                class="btn btn-primary"
                            >
                                Save Task
                            </button>


                            <a
                                href="{% url 'task-list' %}"
                                class="btn btn-secondary"
                            >
                                Cancel
                            </a>

                        </div>


                    </form>

                </div>

            </div>

        </div>

    </div>

</div>


<!-- ===================================================== -->
<!-- DEADLINE DATE/TIME SCRIPT -->
<!-- ===================================================== -->

<script>

document.addEventListener("DOMContentLoaded", function () {

    const dateInput = document.getElementById("deadline_date");

    const timeInput = document.getElementById("deadline_time");

    const deadlineInput = document.getElementById("id_deadline");


    function updateDeadline() {

        if (
            dateInput.value &&
            timeInput.value
        ) {

            deadlineInput.value =
                dateInput.value +
                "T" +
                timeInput.value;

        }
        else {

            deadlineInput.value = "";

        }

    }


    dateInput.addEventListener(
        "change",
        updateDeadline
    );


    timeInput.addEventListener(
        "change",
        updateDeadline
    );


    /*
        Make sure the hidden deadline field
        is populated when editing an existing task.
    */

    updateDeadline();

});

</script>


{% endblock %}