{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">

    <h4 class="page-title">Tasks</h4>

    <div class="row">

        <div class="col-md-12">

            <div class="card">

                <div class="card-header">

                    <div class="card-title">
                        List of Tasks
                    </div>

                    <div class="card-category">
                        Hangarin Task List
                    </div>

                </div>

                <br>

                <div class="col-md-12 row">

                    <div class="col-md-6">

                        <form
                            class="navbar-left navbar-form nav-search mr-md-3"
                            method="get"
                            action="{% url 'task-list' %}"
                        >

                            <div class="input-group">

                                <input
                                    type="text"
                                    name="q"
                                    placeholder="Search ..."
                                    value="{{ request.GET.q|default:'' }}"
                                    class="form-control"
                                >

                                <div class="input-group-append">

                                    <button
                                        type="submit"
                                        class="input-group-text"
                                    >

                                        <i class="la la-search search-icon"></i>

                                    </button>

                                </div>

                            </div>

                        </form>

                    </div>


                    <div class="col-md-6">

                        <div class="pull-right">

                            <a
                                href="{% url 'task-add' %}"
                                class="btn btn-success btn-rounded"
                            >
                                Add Task
                            </a>

                        </div>

                    </div>

                </div>


                <div class="card-body">

                    <table class="table table-striped mt-3">

                        <thead>

                            <tr>

                                <th>Title</th>

                                <th>Status</th>

                                <th>Deadline</th>

                                <th>Priority</th>

                                <th>Category</th>

                                <th>Action</th>

                            </tr>

                        </thead>


                        <tbody>

                            {% for object in object_list %}

                            <tr>

                                <td>
                                    {{ object.title }}
                                </td>

                                <td>
                                    {{ object.status }}
                                </td>

                                <td>
                                    {{ object.deadline }}
                                </td>

                                <td>
                                    {{ object.priority }}
                                </td>

                                <td>
                                    {{ object.category }}
                                </td>

                                <td>

                                    <a
                                        href="{% url 'task-update' object.id %}"
                                    >
                                        Edit
                                    </a>

                                    &nbsp;

                                    <a
                                        href="{% url 'task-delete' object.id %}"
                                        class="text-danger"
                                    >
                                        Delete
                                    </a>

                                </td>

                            </tr>

                            {% empty %}

                            <tr>

                                <td
                                    colspan="6"
                                    style="text-align: center"
                                >

                                    <p class="text-sm font-weight-bold mb-0">
                                        No Records Found
                                    </p>

                                </td>

                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>


                    {% include 'includes/pagination.html' %}

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}